/* styles/child_dashboard.css */

.child-dashboard {
  padding: 100px 40px 60px;
  text-align: center;
}


.toggle-btn {
  padding: 3px 12px;
  cursor: pointer;
  background: #eee;
  font-weight: 500;
  transition: background 0.3s;
}
  
.toggle-btn.active {
  background: var(--primary-color);
  color: white;
}
  
.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
  
.theme-toggle.top-right {
  position: fixed;
  top: 3%;
  right: 10%;
  z-index: 9999;
  display: inline-flex;
  border: 1px solid #cccccc;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  }

