.admin-dashboard {
    padding: 40px 80px;
    text-align: center;
}
  
.dashboard-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 50px;
}
  
.dashboard-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
  
.dashboard-card {
    background-color: var(--transparent); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: background-color 0.3s ease;
}


.dashboard-card:hover .dashboard-image {
    transform: scale(1.1);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    object-fit: fill;
}
  
.dashboard-image {
    border-radius: 50%;
    border: 8px solid var(--primary-color);
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
}

.dashboard-image img {
    border-radius: 50%;
    object-fit: fill;
}
  
.button {
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
  
.button-primary {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}
  
.button-primary:hover {
    background-color: #3a0066;
}
  
/* Responsive */
@media (max-width: 768px) {
    .dashboard-actions {
      flex-direction: column;
      gap: 40px;
    }
}

