.personal-container {
    margin-top: 100px;
}

.personal-details-page {
    max-width: 700px;
    margin: 40px auto;
    padding: 40px;
    background-color: var(--gray);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  
.settings-title {
    color: var(--primary-color);
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}
  

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: white;
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    transition: box-shadow 0.3s ease;
}
  
.detail-row:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
  
.detail-label {
    font-weight: bold;
    color: var(--primary-color);
    width: 180px;
}
  
.detail-value {
    color: var(--dark-gray);
    flex: 1;
}

.admin-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 30 auto;
}
  
  