/* === STORY MODAL === */
.story-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}
  
.story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    width: 160%;
    max-width: 1000px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 30px;
    z-index: 1000;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}
  
.story-modal.dark-mode {
    background: #1e1e1e;
    color: white;
}
  
.story-modal .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
}
  
.story-modal.dark-mode .modal-close {
    color: #fff;
}
  
.modal-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
  
.modal-header img {
    border-radius: 10px;
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}
  
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
  
.story-modal.dark-mode .modal-title {
    color: var(--secondary-color);
}
  
.modal-story {
    padding: 10px 0;
}
  
.modal-story p {
    margin-bottom: 1em;
    line-height: 1.6;
    font-size: 1rem;
}
  
.progress-bar {
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    border-radius: 10px;
    margin: 20px 20px;
    overflow: hidden;
}
  
.progress-bar .progress {
    height: 100%;
    background: var(--primary-color);
    transition: width 0.3s;
}
  
.controls {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 0 20px;
}
.playback-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
  
.playback-buttons button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
}
  
.playback-buttons button:hover {
    background-color: var(--secondary-color);
    color: black;
}
  
/* Responsive */
@media (max-width: 768px) {
    .modal-header {
      flex-direction: column;
      align-items: center;
    }
  
    .modal-header img {
      width: 100%;
      max-width: 200px;
    }
  
    .playback-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .playback-buttons button {
      width: 100%;
}
}
